.footer {
  background-color: #2f303a;
  & .footer__link {
    display: inline-block;
    text-decoration: none;
  }
}
.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  @media screen and(max-width: 1199px) {
    flex-wrap: wrap;
  }
  @media screen and(max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__address {
  margin-bottom: 9px;
  color: #ffffff;
  font-style: normal;
}
.footer__mail {
  margin-bottom: 9px;
}
.footer__mail,
.footer__tel {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer__content {
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    width: 308px;
    padding-left: 76px;
  }
  @media screen and(max-width: 1199px) {
    text-align: center;
  }
}
.footer__social-box {
  padding-top: 12px;
  margin-left: 70px;
  @media screen and(max-width: 1199px) {
    padding-top: 65px;
    padding-top: 0;
    margin-left: 165px;
    text-align: center;
  }
  @media screen and(max-width: 767px) {
    margin-top: 60px;
    padding-top: 0;
    margin-left: 0;
    text-align: center;
  }
  & .footer__title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  @media screen and(max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__form-box {
  padding-top: 12px;
  margin-left: auto;
  @media screen and(max-width: 767px) {
    margin-top: 60px;
    padding: 0;
    flex-direction: column;
    text-align: center;
    margin-left: 0;
  }
  @media screen and(min-width: 767px) and(max-width: 1199px) {
    margin-right: auto;
    text-align: center;
  }
}
.subscribe__form {
  display: flex;
  @media screen and(max-width: 1199px) {
    align-items: center;
    flex-direction: column;
  }
}
.subscribe__head {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.subscribe__input {
  margin-top: 20px;
  padding-left: 16px;
  max-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  color: #ffffff;
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    width: 450px;
  }
  @media screen and(min-width: 1200px) {
    width: 358px;
  }
}
.subscribe__button {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  outline: none;

  color: #ffffff;

  margin-left: 12px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 62px;
  padding-left: 29px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.ikon-send {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
